@use 'base/variables' as v;
@use 'base/mixins' as mix;

.alerta {
    padding: calc(v.$separacion /4);
    color: v.$gris;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: v.$bold;
    text-transform: uppercase;

    &.error {
        background-color: v.$rojorosa;
    }
    &.exito {
        background-color: v.$verdeClaro;
    }
}
