@use 'base/variables' as v;
@use 'base/mixins' as mix;

.seccion {
    padding: 5rem 0;
    display: none;
    p{
        text-align: center;
    } 

}
.mostrar {
    display: block;
}
.ocultar {
    display: none;
}