@use 'base/variables' as v;
@use 'base/mixins' as mix;

.contenedor-app{
    @include mix.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }
    .imagen {
        height: 20rem;
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center center;
        @include mix.tablet {
            height: auto;
        }
    }
    .app{
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
        @include mix.tablet {
            overflow: scroll;
            &::-webkit-scrollbar {
                width: 0;
                background-color: transparent;
            }

        }
    }
}

.barra {
    margin: v.$separacion 0;    
    .boton {
        @include mix.boton(v.$negro, v.$blanco);
        margin: 0;
    }
    @include mix.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.barra-servicios {
    margin-bottom: v.$separacion;
    .boton {
        @include mix.boton(v.$moradoClaro, v.$blanco);
        margin: 0 0 1rem 0;
    }
    @include mix.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}